
body{
    background-image: none;
    height: 100vh;
    overflow-y: hidden;
    background-color: #FFFBF2;
}
.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*Back & Prev button*/
.back-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    text-decoration: none;
}
/*Back button text*/
.back-btn p{
    font-family: 'Lorenzo-Sans';
    font-size: 20px;
    color: #796851;
}

/*Mobile variatns*/
.back-btn.mobile{
    display: none;
}
/*Dekstop variant*/
.back-btn.desktop{
    position: fixed;
    left: 2vw;
}
/*Next button*/
.next-btn{
    height: 45px;
    width: 140px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #34929C;
    color: white;
    font-family: 'Lorenzo-Sans';
    font-size: 15px;
}
.next-btn.mobile{
    /*Invisible on desktop*/
    display: none;
}

/*Base styles for page sections*/
.summary{
    height: 100vh;
    padding: 2%;
}

.order-summary{
    height: 100%;
    width: 100%;
    padding: 5% 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFEDC0;
    border-radius: 18px;
}

.terms-condition{
    margin-top: -10px;
    font-size: 11px !important;
}

.summary-title-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shipping-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
.shipping-info h3{
    color: #403021;
    font-family: 'Lorenzo-Sans';
    font-size: 24px;
}

.meal-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.meal-box p{
    font-size: 13px;
}

.meal-box-container{
    width: 100%;
    height: 80%
}

.meal-box-ridge{
    margin-top: 20px;
    height: 7%;
    width: 40%;
    position: relative;
    background-color: #FFFBF2;
    border: 4px solid #796851;
    border-radius: 18px 30px 0 0;
    
}
.meal-box-bg{
    width: 100%;
    height: 80%;
    background-color: #FFFBF2;
    border: 4px solid #796851;
    border-radius: 30px;
    position: relative;
    top: -2.5%;
}

.meal-box-title{
    width: 37.5%;
    padding: 10px 0px 10px 0 ;
    color: #796851;
    font-family: 'Lorenzo-Sans';
    font-size: 20px;
    background-color: #FFFBF2;
    text-align: center;
    position: relative;
    top: -86%;
    margin-left: 4px;
    border-radius: 40px 40px 40px 0;
}

.price-container{
    height: 8%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF2;
    border: 4px solid #796851;
    border-radius: 100px;
    position: relative;
    top: -59.5vh;
    left: 15vw;
}

.price-container p{
    font-family: 'Lorenzo-Sans';
    font-size: 100%;
    font-weight: bold;
    color: #403021;
}



.next-btn.desktop.confirm{
    position: relative;
    top: -14.5vh;
    right: -7.5vw;
}

/*Recipe items */
.summary-item-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 20px 20px 20px;
    z-index: 10;
}

.recipe-item{
    width: 100%;
    height: 58px;
    overflow: hidden;
    display: flex;
    background-color: #FFEDC0;
    border-radius: 9px;
}


.recipe-item p{
    font-family: 'Lora';
    font-size: 80%;
    padding: 2% 0 0 3%;
}

/*Delivery detaill section*/
.delivery{
    padding: 90px 2% 0 2%;
}

.summary-container{
    width: 100%;
    height: 100%;
    background-color: #FFEDC0;
    border-radius: 20px;
}

/*Checkout detail fields*/
.field-title{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.field-subtitle{
    font-weight: thin;
    font-size: 15px;
    color: #978B7C;
}

input[type="text"] {
    height: 45px;
    padding: 14px;
    border: 2px solid #796851;
    border-radius: 9px;
    font-family: 'Lorenzo-Sans';
    font-weight: medium;
    font-size: 15px;
    background-color: #FFFBF2;
}

/*Input form*/
.input-form{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*Handles the wrap around of field input boxes*/
.top-container{
    display: flex;
    flex-wrap: wrap;
}

.personal-information-fields, .delivery-details-fields {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}



.contact-field input[type="radio"] {
    display: none;
}

.contact-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-container label{
    position: relative;
    right: 87%;
}



/*Address container*/
.address-field{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
/*Address text input*/
.address-input{
    width: 100%;
}
/*Town & postcode input fields*/
.town-input, .postcode-input{
    width: calc(50% - 5px);
}

.form-container {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}
.form-section {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20px;
}

.input-fields-container, .payment-method-container, .summary-container {
    padding: 20px;
    box-sizing: border-box;
}

/*Payment method section*/
.payment{
    display: flex;
    flex-direction: column;

}

.payment-information{
    height: 100%;
    width: 100%;
    padding: 1% 3% 3% 3%;
}

.payment-container{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#FFEDC0; 
    border-radius: 19px;
    padding: 15px;
    gap: 20px;
}

/*Payment container & slider*/
.payment-method-container {
    width: 100%;
    height: 90%;
    position: relative;
    overflow: hidden;
}

.payment-method {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease;
}


.payment-method-slider {
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.payment-method-slider label {
    height: 100%;
    width: 250%;
    position: relative;
    overflow: hidden;
    background-color: #FFFBF2;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lorenzo-Sans';
    font-weight: bold;
    font-size: 15px;
}

.slider-bg{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFBF2;
    border-radius: 100px;
}

/*Show active state of button*/
.payment-method-slider label.active {
    background-color: #FFD058; 
}

/* Hide the radio buttons */
.payment-method-slider input[type="radio"] {
    position: absolute;
    opacity: 0; 
}


.payment-form{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: visible;
}

.card-input-field{
    height: 100%;
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

/*Child text inputes*/
.card-input-field div{
    width: calc(100% - 20px);
    display: flex;
    gap: 20px;
}


.payment-input.cvv{
    width: 50%;
}

/*Payment input*/
.payment-input{
    height: 50px !important;
    border:none !important;/*overwrite text input styles*/
}

/*Individual styles of text fields*/
.payment-input.cardholder-name {
    width: 90%;
}

.credit-card{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img{
    height: 280px;
    position: relative;
    right: 60px;
}

.input-display{
    width: 0;
    height: 100px;
    position: relative;
    right: 225px;
    top: 40px;
}
.input-display p{
    color: white;
    font-family: 'Lorenzo-Sans';
}

.input-display div{
    display: flex;
}
/*input weight & size*/
.input-display.bold{
    font-weight: bold;
    font-size: 24px;
}

.input-display.light{
    font-weight: regular;
    font-size: 18px;
}

/*Individual input position*/
.input-display.card-number{
    width: 250px;
}

.input-display div{
    position: relative;
    top: -60px;
}

.input-display.cardholder-name{
    width: 0;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    top: 45px;
}

.input-display.expiry {
    width: 100px;
    position: relative; 
    right: 35px;
    top: 45px;
}

/*Apple pay*/
.payment-method.other{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1300px){
    /*Changes in position & size on Dektop*/
    .summary{
        width: 35%;
        position: absolute;
        right:0;
    }
    .delivery{
        width: 65vw;
        height: 45vh;
    }
    .payment{
        width: 65vw;
        height: 55vh;
    }
    .summary h1, .payment h1{
        display: none;
    }
    /*Text sizes*/
    .title{
        font-size: 60px;
    }
    .title.sub{
        font-size: 50px;
        color: #403021;
    }
    /*Buttons*/
    .next-btn.confirm{
        position: absolute;
        right: 13.5%;
        bottom: calc(11vh + 2vw);
    }

    .contact-container input{
        width: 14.6vw;
        padding-left: 40px;
    }
    .contact-container.email{
        position: relative; 
        right: 20px;
    }
}




/*Mobile phone*/
@media (max-width: 1299px) {
    /*Handles hte page slideshow*/
    .container {
        flex-direction: row;
    }
    .page {
        display: none;
        transition: transform 0.5s ease-in-out;
        padding: 5%;
    }
    
    .page.active {
        display: block;
        transform: translateX(0);
    }
    /*text*/
    .title{
        font-size: 40px;
        margin:  10% 0 10% 4%;
    }

    /*Mobile buttons*/
    .back-btn.mobile{
        display: flex;
    }
    .next-btn.mobile{
        display: flex;
        position: fixed;
        bottom: 5vh;
        left: calc(100vw/2 - 18%);
    }
    .next-btn.summary-page{
        bottom: 16vh;
    }
    /*Dekstop buttons inactive*/
    .back-btn.desktop{
        position: relative;
    }
    .next-btn.desktop.confirm{
        display: none;
    }

    /*SCREENS/PAGES*/
    .summary{
        width: 100vw;
        position: relative;
    }
    .order-summary{
        height: 80%;
        padding: 4%;
    }
    .meal-box-container{
        height: 110%;
    }
    .title.sub{
        color: #403021;
        margin: 20px 0 0 10px;
    }
    .delivery{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    .personal-information-fields{
        display: flex;
        flex-direction: column;
    }
    

    .top-container{
        display: flex;
        flex-direction: column;
    }
    /*Adjust size of first and last name text boxes*/
    
    .contact-container{
        width: 100%;
    }
    .contact-container label{
        position: relative;
        right: 90%;
    }
    .contact-field{
        flex-direction: column;
    }
    .payment-container{
        height: 70%;
    }

    
    .payment{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    .payment-information{
        padding:0px;
    }
    
    .payment-method-slider{
        height: 40px;
    }

    .payment-method-slider label{
        font-size: 50%;
    }

    .payment-form{
        flex-direction: column;
    }

    
    .card-input-field{
        width: 100%;
        height: 100%;
    }
    .card-img{
        height: 180px;
        left:0;
    }
    .input-display{
        right: 145px;
        top: 30px;
    }
    .input-display.expiry{
        right: -30px;
    }

    .contact-container input{
        margin-bottom: 10px;
    }
    
    .price-container{
        top: -48vh;
        left: 48vw;
    }

    .input-display.cardholder-name{
        top: 32px;
    }
    
    .input-display.expiry {
        width: 100px;
        position: relative; 
        right: -40px;
        top: 32px;
    }
}

/*Styles for the (un)successful page*/
.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    height: 60vh;
    width: 40vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.content-container img{
    width: 20%;
}

.content-container h1{
    font-family: 'Lora';
    font-size: 60px;
    text-align: center;
}

.content-container p{
    font-size: 20px;
    font-weight: medium;
    text-align: center;
}

.content-container a{
    height: 80px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: transparent;
    border: 4px solid #007C89;
    font-size: 25px;
    font-family: 'Lorenzo-Sans';
    font-weight: medium;
    color: #007C89;
    text-decoration: none;
}

@media (max-width: 600px) {
    .content-container{
        height: 60vh;
        width: 80vw; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .content-container h1{
        font-size: 50px;
    }
    .content-container p{
        font-size: 18px;
        font-weight: medium;
        text-align: center;
    }

    .content-container a{
        height: 65px;
        width: 200px;
        font-size: 20px;
    }
}