/* Reset */


/*Fonts, size, colours*/

:root {
    /*Colours*/
    --primary-yellow: #FFD058; 
    --secondary-yellow: #FFE7AB; 
    --accent-primary: #007C89; 
    --accent-secondary: #59A0A4; 
    --accent-dark: #15747E; 
    --text-black: #403021;
    --brown: #241C15;
    /*Text sizes*/
    
    
}

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    color: var(--text-black);
  }

/*Fonts*/
@font-face {
    font-family: 'Lora';
    src: url('/Assets/fonts/Lora/Lora-Bold.ttf');
  }
@font-face {
  font-family: 'Lorenzo-Sans';
  src: url('/Assets/fonts/Lorenzo/Lorenzo\ Sans\ Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Lorenzo-Sans';
  src: url('/Assets/fonts/Lorenzo/Lorenzo\ Sans\ Medium.ttf');
  font-weight: medium;
} 

@font-face {
  font-family: 'Lorenzo-Sans';
  src: url('/Assets/fonts/Lorenzo/Lorenzo\ Sans\ Regular.ttf');
  font-weight: thin;
}

h1, h2, h3, h4 {
  font-family: 'Lora';
  color: white;
}

/*Text Sizes*/
h1 {
  font-size: 64px;
  color: var(--text-black);
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: var(--text-size-small);
}
h4 {
  font-size: 28px;
}

p {
  font-family: 'Lorenzo-Sans';
  font-weight: thin;
}

/*Background*/
/* Default background image (for desktop) */


body {
  background-image: url('/Assets/background_desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

