@import url(/styles/general-styles.css);

body {
    width: 100vw;
    overflow-x: hidden; 
}

.body-content {
    max-width: 100%;
    position: relative;
    left:0;
    padding: 10%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}



/*-------------------SECTION 1-------------------*/
.section-one{
    width: 100%;
    height: 150vh; 
    display: flex; 
}

.main-content {
    position: relative;
    width: 35vw;
    display: flex; 
    flex-direction: column;
} 

p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:20px;
    width: 70%;
}

.order-now {
    height: 4vw;
    width: 35%;
    font-size: 20px;
    font-family: 'Lorenzo-sans';
    font-weight: 900;
    border-radius: 10vh;
    background-color: var(--accent-primary);
    color: white; 
    align-content: center;
    text-align:  center;
    transition: transform 0.3s ease;
}

.order-now:hover{
    color: var(--accent-secondary);
    transform: translateY(-5px);
}

/*-------------------SECTION 2-------------------*/

.section-two{
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options {
    background-color: #F4DB81;
    width: 45vw;
    height: 65vh;
    padding: 2%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    border-radius: 45px;
    position: relative;
    top: 2vh;
    left: -13vw;
}

.options-title {
    padding-left: 8%;
    font-size: 30px;
    color: var(--text-black);
}

  .row {
    width: 90%;
    height: 70vh;
    padding: 20px;
    margin-left: 5%;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .card {
    width: 15vw;
    height: 100%;
    background-color: white;
    display: inline-block;
    padding: 0px;
    border: none;
    border-radius: 16px;
    margin-left: 30px;
  }
  
  .card-image {
    position: relative; 
    width: 100%;
    height: 70%;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    background-position: center center;
  }
  
  
  .card-body {
    padding: 2%;
    padding-left: 5%;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 25px;
    color: var(--text-black);
  }

  .card-description {
    padding: 0;
  }

  #scrollbar::-webkit-scrollbar {
    height: 10px;
  }
  
  #scrollbar::-webkit-scrollbar-track {
    background-color: #D1BA6A;
    border-radius: 10px;
  }
   
  #scrollbar::-webkit-scrollbar-thumb {
    background-color: #A5934F; 
    border-radius: 10px;
  }
  
  #scrollbar::-webkit-scrollbar-thumb:hover {
    background: beige; 
  }
/*-------------------SECTION 3-------------------*/

.section-three{
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
}

.review-text {
    position: relative; 

}

.reviews {
    width: 45vw;
    height: 65vh;
    background-color: #F4DB81;
    display: flex; 
    align-items: center;
    border-radius: 45px 0px 0px 45px;
    position: relative;
    right: -9.9vw;
    top: 11vh;
    z-index: 10;
}

.reviews-description {
    padding-left: 5%;
}

.reviews-container {
    position: absolute;
    width: 60vw;
    right:5%;
    display: flex;
}

.review-card {
    height: 47vh;
    width: 50vw;
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.stars-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.review-description {
    width: 100%;
    height: 80%;
    font-size: 16px;
    text-align: center;
    font-family: 'Lorenzo-sans';
}


/*Parallax*/
.parallax-container {
    position: absolute;
    width: 60%;
    top: 20vh;
    right: 0;
    height: 500vh; /* Make the container tall enough to enable scrolling */
}

/*speeds*/


.teriyaki-beef {
    position: absolute;
    right: -700px;
}

.teriyaki-beef-bowl {
    position: relative;
    top:-350px; 
    right: 900px;
}

.sauce-dish {
    position: relative; 
    bottom: 50px; 
    right: 1200px;
    z-index: 6;
}

.beef-salad {
    position: relative;
    right: -110px;
    top: 150px;
}

.beef-salad-bg {
    position: relative;
    z-index: 5;
}

.beef-salad-bowl {
    position: relative;
    top: -1155px;
    right: 100px;
    z-index: 6; 
}

.pasta-bowl {
    position: relative;  
    top: -1445px; 
    right: -330px;
    z-index: 6
}

.taco-plate {
    position: absolute;
    top: 1300px;
    right: 400px;
    z-index: 1;
}

.gyoza-plate {
    position: relative;
    height: 350px;
    top: 800px; 
    left: 50px;
    z-index: 6;
}


@media screen and (max-width: 680px){
    /*Scrolling & screen*/
    html, body{
        overflow-x: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    

    /*TEXT*/
    .main-title{
        font-size: 35px;
    }

    /*Containers*/
    .section-one{
        width: 150vw;
        height: 100vh;
    }
    .main-content{
        width: 70%;
    }
    .main-content p{
        width: 37vw;
        font-size:12px;
        padding-top: 10px;
    }

    .order-now {
        height: 5vh;
        width: 35%;        
    }
    
    
    .parallax-container {
        position: absolute;
        width: 60%;
        top: 20vh;
        right: 0;
        height: 500vh; /* Make the container tall enough to enable scrolling */
    }

    /*Section 2*/
    .section-two{
        width: 100vw;
        height: 130vh;
        z-index: 10;
        position: relative;
        flex-direction: column;
    }
    .section-two-content{
        display: flex;
        flex-direction: column;
        position: relative;
        
    }

    .section-two .main-content {
        width: 70vw;
    }
    .section-two .main-content p{
        width: 75vw;
    }
    
    .options {
        width: 110vw;
        height: 40vh;
        padding: 2%;
        position: relative;
        left: -77px;
        border-radius: 0;
    }
    
    .options-title {
        padding-left: 8%;
        font-size: 30px;
    }
    
    .row {
        width: 100vw;
        height: 100%;
        padding: 20px;
    }

    .card {
        width: 50vw;
        height: 100%;
    }

    #scrollbar::-webkit-scrollbar {
        height: 10px;
    }
    
    /*Serction 3*/
    .section-three{
        width: 100vw;
        height: 70vh;
        display: flex;
        z-index: 10;
        position: relative;
        flex-direction: column;
    }

    .section-three-content{
        display: flex;
        flex-direction: column;
        position: relative;
        
    }

    .section-three .main-content {
        width: 70vw;
    }
    .section-three .main-content p{
        width: 75vw;
    }
    
    .review-text {
        position: relative; 
        right: 50px;
    }
    
    .reviews {
        width:110vw;
        height: 40vh;
        background-color: #F4DB81;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        border-radius: 0px;
        position: relative;
        z-index: 10;
        right: 40px;
        top: 0;
    }
    
    .reviews-description {
        padding-left: 5%;
    }
    
    .reviews-container {
        width: 100vw;
        right: 25px;
        gap:10px;
        padding-bottom: 20px;
        overflow-x: scroll;
        white-space: nowrap;
    }
    
    .review-card {
        height: 32vh;
        width: 60vw;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .review-description {
        width: 50vw;
        text-wrap: wrap;
        height: 80%;
        font-size: 15px;
        text-align: center;
        font-family: 'Lorenzo-sans';
    }

    .reviews-description.main{
        padding: 0 0 20px 0;
    }
    
    /*speeds*/
    .teriyaki-beef {
        width: 100%;
        position: absolute;
    }
    
    .teriyaki-beef-bg {
        height: 305px;
        position: relative;
        top:100px; 
        right: 400px;
    }
    .teriyaki-beef-bowl {
        width: 150px;
        position: relative;
        top:-18px; 
        right: 710px;
    }
    
    
    .sauce-dish {
        height: 72px;
        position: relative; 
        bottom: 17px; 
        right: 435px;
        z-index: 6;
    }
    
    .beef-salad {
        position: relative;
        right: -110px;
        top: 150px;
    }
    
    .beef-salad-bg {
        display: none;
        position: relative;
        z-index: 5;
    }
    
    .beef-salad-bowl {
        display: none;
    }
    
    .pasta-bowl {
        height: 220px;
        position: relative;  
        top: -1380px; 
        right: 190px;
    }
    
    .taco-plate {
        height: 311px;
        position: absolute;
        top: -1650px;
        right: 10px;
    }
    
    .gyoza-plate {
        height: 127px;
        top: 20px; 
        left: -180px;
        z-index: 6;
    }
}