.body-container{
    margin-top: 20vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 3vh 5vw 0 5vw;
    gap: 40px;
}

.recipe-background{
    background-color: #FBE4A9;
    width: 100%;
    height: 140vh;
    border-radius: 25px 25px 0 0;
}

.recipe-title{
    font-size: 5.5vw;
}

.section-title{
    color: var(--text-black);
    padding-left: 7vw;
}


/*RECIPES*/

.recipes{
    position: absolute;
    top: 55vh;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.recipe-container{
    height: 450px;
    padding: 5vh 5vw;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
}

/*Recipe Card elements*/
.recipe-link{
    background-color: transparent;
}

.recipe-card {
    border-radius: 10px;
    min-width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.recipe-image {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 70%;
    background-color: transparent;
    
}

.recipe-info{
    background-color: #34929C;
    height: 30%;
    border-radius: 0 0 10px 10px;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
}

.recipe-name {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: start;
}

.recipe-tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    
}

.recipe-tag {
    background-color: #0F6B74;
    color: white;
    font-family: 'Lorenzo-sans';
    font-weight: 100;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.8em;
}

/*Scrollbar styling*/
#recipe-scroll::-webkit-scrollbar {
    height: 20px;
  }
  
#recipe-scroll::-webkit-scrollbar-track {
    background-color: #D1BA6A;
    border-radius: 10px;
}
   
#recipe-scroll::-webkit-scrollbar-thumb {
    background-color: #A5934F; 
    border-radius: 10px;
}
  
#recipe-scroll::-webkit-scrollbar-thumb:hover {
    background: beige; 
}

@media screen and (max-width: 600px){
    .body-container{
        height: 150vh;
        margin-top: 10vh;
        gap: 20px;
    }
    
    .recipe-container{
        height: 500px;
        padding: 2vh 3vw;
    }

    .recipes{
        top: 29vh;
        gap: 30px;

    }
    .section-title{
        padding-left: 45px;
    }
    .recipe-title{
        font-size: 50px;
        padding-left: 20px;
    }

    /*Recipe card elements*/
    .recipe-card {
        border-radius: 10px;
        width: 70vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .recipe-info{
        padding: 0 0 15px 20px;
        justify-content: space-between;
    }
    
    .recipe-name {
        font-size: 23px;
        margin: 10px 0;
    }
    
    
    .recipe-tag {
        padding: 5px 20px;
        font-size: 13px;
    }


    #recipe-scroll::-webkit-scrollbar {
        height: 15px;
      }
      
}