@import url(/styles/general-styles.css);

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: none;
}

h3{
    color: #403021;
}

h4{
    color: #403021;
    font-size:33px;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/*Remove scrollbar*/
.container::-webkit-scrollbar {
    display: none; 
}

/*Swipe bejaviour of each section*/
.section {
    width: 100vw;
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/*Back to recipe button*/
.back-to-recipe-btn{
    display: flex;
    gap: 20px;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
}
.back-to-recipe-btn p{
    font-size: 20px;
    color: #0F6B74;
}

.page.white{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    gap: 20px;
}

/*Recipe photo cards*/
.photo-card{
    width: 75%;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.photo-img{
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-color: white;
}

.photo-desc{
    width: 100%;
    height: 20%;
    background-color: #34929C;
}

.page.cream{
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 0px 30px;
    background-color: #FFE7AB;
    border-radius: 15px;
}


.checkbox input[type="checkbox"]{
    display: none;
}
.custom-checkbox {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #403021;
    border: 2px solid #796851;
    background-color: transparent;
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '✖'; 
    font-size: 18px;
}


.ingredient{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ingredient-name{
    color: #403021;
}

.ingredient-container{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.ingredient-container p{
    font-size: 17px;
}


/* YELLOW PAGE/SECTION */
.page.yellow{
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-between;
    background-color: #FFD876;
}

.page-content-yellow{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-nav{
    display: flex;
}
.text-nav p{
    font-size: 12px;
}

.recipe-title{
    font-family: 'Lora';
    font-size: 70px !important;
}

.recipe-desc{
    width: 30vw;
    font-size: 13px;
    padding-left: 2%;
}
.nutrition{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}



/*dropdown menu*/
.dropdown{
    height: 100%;
    width: 75%;
    border-radius: 15px;
}

.dropdown-header{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #34929C;
    border-radius: 15px;
}

.dropdown-title{
   font-size: 30px;
   font-family: 'Lora';
   color: white;
}
.dropdown-icon{
    width: 30px !important;
    height: auto !important;
}
.dropdown-content {
    display: none;
    height: 30vh;
    background: #34929C;
    padding: 10px 35px;
    border-top: 5px solid #34929C; /*removes gap*/
    border-radius: 0 0 15px 15px;
    transition: max-height 0.3s ease;
}

.dropdown-content.show {
    display: block;
    padding: 15px;
}
.dropdown-content p{
    font-size: 18px;
    color: white;
}


.dropdown-icon {
    transition: transform 0.3s ease;
}
.dropdown-header.active{
    border-radius: 15px 15px 0 0;
}
.dropdown-header.active .dropdown-icon {
    transform: rotate(180deg);
}

.down-arrow{
    display: none;
}


/*Instructions*/


.recipe-card{
    width: 50%;
    height: 25vh;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.steps{
    font-size: 20px;
    padding: 5px 5px 15px 5px;
}


/*DESKTOP SCREEN*/
@media screen and (min-width: 601px){
    .btn-container.mobile{
        display: none;
    }
    
    .btn-container.desktop{
        position: fixed;
        height: 5vh;
        padding: 0 30px 20px 30px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 100vw;
        display: flex;
        bottom:0;
        left: 0;
    }
    .btn{
        background-color: transparent;
    }
    
    /*Page/section*/
    
    
    .section-container{
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .page.yellow{
        width: 50vw;
        height: 100vh;
        background-size:contain;
    }
    .page.yellow img{
        width: 100%;
        height: 100vh;
    }
    .page.white{
        width: 50vw;
        height: 100%;
        background-color: #F8F0DC;
    }


   
   
}

@media screen and (max-width: 600px){
    html body{
        height: 100vh;
        overflow-y: hidden;
    }
    .btn-container.desktop{
        display: none;
    }
    
    /*Prev & back buttons mobile*/
    .btn-container.mobile{
        width: 100vw;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 1vh;
        left: 0;
        gap: 10px;    
    }
    
    .btn{
        height: 60px;
        width: calc(100%/2 - 20px);
        padding: 0 8% 0 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid #34929C;
        border-radius: 50px;;
        cursor: pointer;
        z-index: 1;
    }
    
    /*Prev & back buttons desktop*/
    
    .btn.next{
        background-color: #34929C;
    }
    
    .btn.prev {
        background-color: transparent;
    }
    
    /*Text font size &  colour*/
    .recipe-title{
        font-size: 30px !important;
    }
    
    .dropdown-title{
        font-size: 15px;
    }
    .dropdown-content p{
        font-size: 12px;
    }
     
    .ingredient-container p{
        font-size: 12px;
    }
    
    .text-nav p{
        font-size: 12px;
    }
    
    .recipe-desc{
        width: 70vw;
        font-size: 11px;
        padding-left: 5%;
    }
    .btn-text{
        font-family: 'Lorenzo-Sans';
        font-weight: medium;
        font-size: 20px;
    }
    .btn.next .btn-text{
        color: #fff ;
    }
    .btn.prev .btn-text{
        color: #34929C;
    }

    /*Button arrow icon*/
    .btn-icon{
        padding-top: 3px;
    }

    .down-arrow {
        transition: transform 0.3s ease;
    }
    

    

    /*Pages & sections*/
    .section{
        flex-direction: column;
    }
    .page.white{
        position: relative; 
        top: 0vh;
        width: 100vw;
        height: 100vh;
        padding-top: 25%;
    }
    /*Recipe photo cards*/
    .photo-card{
        width: 85%;
        height: 30vh;
    }

    .page.white{
        padding-top: 10vh;
    }

    .recipe-card{
        width: 70%;
        height: 20vh;
    }

    .page.cream{
        width: 100vw;
        height: 18vh;
        position: relative;
        left: -12px;
        bottom: -2vh;
        padding: 20px 10px 100px 30px;
        border-radius: 30px 30px 0 0;
    }

    .title-bar{
        width: 100%;
        padding: 0 10px 0 0;
        display: flex;
        justify-content: space-between;
    }
    
    .ingredient{
        display: flex;
        align-items: center;
        gap: 5px;
    }
        
    .ingredient-container{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
    }
    .ingredient-container p{
        font-size: 17px;
    }
    
    
    /* YELLOW PAGE/SECTION */
    .page.yellow{
        width: 100vw;
        height: 25vh;
        position: relative;
        bottom: 0vh;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 3%;
        padding-bottom: 0vh;
        justify-content: space-between;
        border-radius: 30px 30px 0 0;
    }
    
    .text-nav{
        display: none;
    }
    .text-nav p{
        font-size: 12px;
    }
    
    
    .recipe-desc{
        width: 90vw;
        font-size: 13px;
        padding-left: 2%;
    }
    .nutrition{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .recipe-bar{
        padding: 10px 10px 10px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .down-arrow{
        display: block;
    }
    
    /*dropdown menu*/
    .dropdown{
        width: 85%;
    }
    
    .dropdown-header{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        background-color: #34929C;
        border-radius: 15px;
    }
    
    .dropdown-title{
       font-size: 20px;
    }

    .dropdown-content {
        display: none;
        height: 24vh;
        padding: 10px 30px;
    }
    
    .dropdown-content p{
        font-size: 16px;
    }

    /*Instructions*/
    .steps{
        font-size: 15px;
        padding: 15px 5px 10px 0px;
    }

    /*Variations & reheating*/
    .variations{
        height: 50vh;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}